* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.artigo {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: lightcyan;
}

.artigo h1 {
    color: crimson;
    font-size: 23px;    
}

.artigo p {
    font-size: 17px;    
    color: darkgrey;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 5px;
}